<html>

<head>
    <meta charset="UTF-8">
    <title>CodePen - rainbow lines of straightness</title>
    <link rel="stylesheet" href="bg.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  
  </head>

<body style="background-color:powderblue;">
    <!-- <canvas id=c><script  src="bgj.js"></script></canvas> -->
    
    <center>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5" style="font-size: 30;">VisEye</h3>
                <img src="{{ url_for('home') }}" height="500" width="800" style="border-radius: 5cm;">
            </div>
        </div>
    </div>
    </center>
    </body>
    </html>
    